<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefctfillaccidentreport.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/98130ca3-2fa6-4f29-b345-5a00dbcc1bbb/resourcegroups/Wilos_AzureFunctions/providers/Microsoft.Web/sites/AzureFctFillAccidentReport</ResourceId>
    <UserName>$AzureFctFillAccidentReport</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefctfillaccidentreport.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>